body {
  min-width: 320px;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  color: white;
  background: #77c9d4;
  background: linear-gradient(-90deg, #77c9d4, #57bc90);
  transition: background 0.3s;
}

#app,
#wrapper {
  height: 100%;
}

#header,
#footer {
  height: 50px;
  background-color: #77c9d4;
}

#navigation,
#footer {
  background-color: #77c9d4;
}

#navigation .btn,
#navigation .btn button,
#footer .btn,
#footer .btn button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  width: 50px;
  color: white;
  border: none;
  top: 0;
  transition: top 0.1s;
}

#navigation .btn:active,
#navigation .btn button:active,
#footer .btn:active,
#footer .btn button:active {
  position: relative;
  top: 10px;
  box-shadow: 0 2px #003326;
  transition: top 0.1s;
}

#navigation .btn:selected,
#navigation .btn button:selected,
#footer .btn:selected,
#footer .btn button:selected {
  background-color: #017063;
}

#navigation .btn i:hover,
#navigation .btn button i:hover,
#footer .btn i:hover,
#footer .btn button i:hover {
  cursor: pointer;
}

#header {
  text-align: center;
}

#navigation button {
  background-color: #015249;
}

#navigation .btn {
  margin-bottom: 20px;
  box-shadow: 0 10px #003326;
}

#navigation .btn:hover {
  background-color: #017063;
  transition: background-color 0.1s;
  cursor: pointer;
}

#navigation .btn:hover,
#navigation button:hover {
  background-color: #017063;
}

#middle {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 50px auto;
  grid-template-columns: 50px auto;
}

#middle .page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

#front #name {
  visibility: hidden;
  font-size: 3em;
}

#projects .thumbnail-container {
  position: relative;
  display: inline-block;
  margin: 10px;
  height: 299.44px;
  width: 320px;
  text-align: center;
  background-color: #015249;
  box-shadow: 0;
  transition: all 0.5s ease;
  z-index: 0;
}

#projects .thumbnail-container:hover {
  height: 355.58px;
  width: 380px;
  box-shadow: 15px 15px 15px 5px #003326;
  transition: all 0.5s ease;
  background: none;
}

#projects .thumbnail-container img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 744px) {
  #projects h1 {
    margin-top: -10px;
    margin-bottom: -5px;
  }
  #projects .thumbnail-container {
    margin: 2px;
    height: 150px;
    width: 160.29px;
  }
  #projects .thumbnail-container:hover {
    height: 150px;
    width: 160.29px;
    box-shadow: 5px 5px 5px 1px #003326;
    transition: all 0.5s ease;
  }
}

#skills {
  overflow-y: scroll;
}

#skills div {
  padding: 10px;
  height: 90%;
  width: 70%;
}

#skills div h3,
#skills div strong {
  text-shadow: 1px 1px 1px #003326;
}

#skills div div {
  margin: 0 auto;
}

#contact #thanks {
  display: none;
}

#contact #envelope {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

#contact #envelope form:first-child,
#contact #envelope div:first-child {
  padding: 10px;
  background-color: #015249;
  border: 5px dashed #003326;
}

#contact #envelope input,
#contact #envelope textarea {
  resize: none;
  border-radius: 10px;
}

#contact #envelope button {
  background-color: #ff4d4d;
  box-shadow: 2px 2px #b30000;
  border: none;
  border-radius: 10px;
}

#contact #envelope button:hover {
  background-color: #ff9999;
}

#contact #envelope ul {
  list-style: none;
}

#footer {
  margin-top: -22px;
  text-align: right;
}

#footer a {
  text-decoration: none;
}

#footer button {
  background-color: #ff4d4d;
}

#footer .btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: -10px;
  margin-right: 20px;
  background-color: #ff4d4d;
  box-shadow: 0 10px #b30000;
}

#footer .btn:hover {
  background-color: #ff9999;
  transition: background-color 0.1s;
  cursor: pointer;
}

#footer .btn:hover,
#footer button:hover {
  background-color: #ff9999;
}